
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body{
    font-family: 'Nunito Sans';
    letter-spacing: 0.4px;
    line-height: 1.2; 
    overflow: hidden;
}

:root {
  --roxo-principal: #8E41CD;
  --roxo-escuro: #6D2FA3;
  --lilas: #C7A4E0;
  --bege-fundo: #FFF0DB;
  --bege-card: #F7E3C8;
  --azul-profundo: #1E2A78;
  --texto-principal: #2B2B2B;
  --rosa-destaque: #E86FB7;
}

.bg-pink{
    background-color: var(--roxo-principal);
}

#navegacao .nav-link{
    color: white;
    padding: 4px 16px;
}

.item{
    transition: background-color 0.6s ease, border-radius 0.3s ease;
}

.item.hovered {
    background-color: rgb(187, 65, 167);
    border-radius: 5px;
}

.active{
  border-bottom: 2px solid pink;
}

span{
    margin-left: 5px;
}

#inicio{
    background-color: antiquewhite;
}

#inicio img{
    max-width: 80%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.5);
}

.navigation{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation__content ul li div{
    padding: 8px 16px;
}

.navbar-nav{ 
    gap: 2rem;
}

body{
    background-color: whitesmoke;
}

#perfil{
    max-width: 60%;
    height: auto;
    border-radius: 50rem;
}

#titulo-inicio{
    align-items: center;
    margin-top: 20%;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--roxo-escuro);
}

.texto{
    margin-right: 1rem;
    font-size: 1.5rem;
}
