.bg-pink{
    background-color: rgb(142, 65, 205);
}

#navegacao .nav-link{
    color: white;
    padding: 4px 16px;
}

.nav-item:hover{
    background-color: rgb(187, 65, 167);
    border-radius: 2rem;
    transition: background-color 0.6s ease, border-radius 0.6s ease;
}

#inicio{
    max-height: 95vh;
    height: auto;
}

#inicio img{
    object-fit: cover;
    overflow: hidden;
    filter: brightness(0.5);
}

.navigation{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation__content ul li div{
    padding: 8px 16px;
}

.navbar-nav{ 
    gap: 2rem;
}

body{
    background-color: whitesmoke;
}

.text{
	font: inherit;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
	vertical-align: baseline;
}

#inicio{
    padding: 50px;
    background-color: antiquewhite;
    margin-top: 5%;
}

#perfil{
    max-width: 60%;
    height: auto;
    border-radius: 50rem;
}

#titulo-inicio{
    color: blue;
}