
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body{
    font-family: 'Nunito Sans', Arial, sans-serif !important;
    letter-spacing: 0.4px;
    line-height: 1.2; 
    background-color: antiquewhite;
}

/* Rosa antigo: #D48FB3

Lilás rosado: #CDB4DB

Bege rosado: #F6E1D3

Branco quente: #FFF8F2

Marrom suave (texto): #4A3F35 */

:root {
  --roxo-principal: #8E41CD;
  --roxo-escuro: #6D2FA3;
  --lilas: #C7A4E0;
  --bege-fundo: #FFF0DB;
  --bege-card: #F7E3C8;
  --azul-profundo: #1E2A78;
  --texto-principal: #2B2B2B;
  --rosa-destaque: #bc4b8f;
  --rosa-principal: rgb(216, 109, 198);
  --rosa: #E86FB7;
  --rosa-antigo: #D48FB3;
  --lilás-rosado: #CDB4DB;
  --marrom-suave: #4A3F35;
}

.bg-roxo{
    background-color: var(--roxo-principal);
}

.bg-pink{
    background-color: var(--rosa-destaque);
}

.bg-lilas{
    background-color: var(--lilas);
}

.color-roxo{
    color: var(--roxo-escuro);
}

.color-pink{
    color: var(--rosa-destaque);
}

#navegacao .nav-link{
    color: white;
    padding: 4px 16px;
}

.item{
    transition: background-color 0.6s ease, border-radius 0.3s ease;
}

.item.hovered{
    background-color: rgb(187, 65, 167);
    border-radius: 10px;
}

.active{
    background-color: var(--lilas);
    border-bottom: 2px solid var(--bege-fundo);
    border-radius: 10px;
}

.active span{
    color: var(--roxo-escuro);
    font-weight: bold;
}

span{
    margin-left: 5px;
}

#inicio img{
    height:  662px;
    object-fit: cover;
    filter: brightness(0.5);
}

.navigation{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation__content ul li div{
    padding: 8px 16px;
}

.navbar-nav{ 
    gap: 2rem;
}

#titulo-inicio{
    align-items: center;
    margin-top: 20%;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--roxo-escuro);
}

.texto{
    margin-right: 1rem;
    font-size: 1.5rem
}

#sobre{
    margin: 60px 0px 0px 30px;
}

/* #titulo-sobre{
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--roxo-escuro);
} */

#perfil{
    max-width: 20rem;
    height: auto;
    border-radius: 50rem;
}

.name, .sub-titulo{
    font-weight: 700;
}

#sobre .name {
    font-size: 25px;
    margin-top: 10px;
}

#sobre .about {
    margin-top: 16px;
    margin-right: 60px;
    text-align: justify;
    font-weight: 500;
}

#sobre .btn{
    align-items: center;
    color: whitesmoke;
    margin-right: 10px;
}

.contatos{
    margin: 4rem 0 0 20%;
}

.interacao{
    background-color: var(--roxo-principal);
    transition: all 0.2s ease-in-out; 
}

.interacao.hovered{
    background-color: var(--lilas);
    transform: translateY(-10px) scale(1.05); /* Levanta e aumenta */
    outline: 1px solid var(--roxo-escuro);
}

.interacao.hovered span{
    color: var(--roxo-escuro);
}

#obras{
    background-color: antiquewhite;
}

.obras{
    background-color: var(--lilás-rosado);
    max-width: 100%;
}

#obras .card{
    background-color: var(--roxo-principal);
    color: whitesmoke;
}

#obras .interacao.hovered{
    background-color: var(--rosa-destaque);
    
}

#obras .interacao.hovered .obras{
    background-color: var(--rosa-antigo);
}

.titulo-obras{
    background-color: var(--roxo-principal);
    color: whitesmoke;
    font-style: bold;
    font-size: 2rem;
    letter-spacing: 4px;
    margin-top: 35px;
    padding: 10px;
    border-radius: 2rem;
    border-bottom: 2px solid var(--roxo-escuro);
}

.logo{
    height: 200px;
    width: auto;
}


/* carros */

#cards .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cards {
  margin-top: 60px; 
}

#cards .card {
  width: 400px;
  border-radius: 8px;
}

/* Cards laterais */
.card-lateral {
    position: relative;
    z-index: 1;
    transform: scale(0.9);
    filter: brightness(0.5);
    opacity: 80%;
}

/* Card central (em destaque) */
.card-central {
  position: relative;
  z-index: 2;
  margin: 0 -150px; /* faz sobrepor os laterais */
}

#cards span {
    background-color: #F7E3C8;
    color: var(--azul-profundo);
}

