
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body{
    font-family: 'Nunito Sans';
    letter-spacing: 0.4px;
    line-height: 1.2; 
    overflow: hidden;
    background-color: antiquewhite;
}

:root {
  --roxo-principal: #8E41CD;
  --roxo-escuro: #6D2FA3;
  --lilas: #C7A4E0;
  --bege-fundo: #FFF0DB;
  --bege-card: #F7E3C8;
  --azul-profundo: #1E2A78;
  --texto-principal: #2B2B2B;
  --rosa-destaque: #bc4b8f;
}

.bg-roxo{
    background-color: var(--roxo-principal);
}

.bg-pink{
    background-color: var(--rosa-destaque);
}

.color-roxo{
    color: var(--roxo-escuro);
}

.color-pink{
    color: var(--rosa-destaque);
}

#navegacao .nav-link{
    color: white;
    padding: 4px 16px;
}

.item{
    transition: background-color 0.6s ease, border-radius 0.3s ease;
}

.item.hovered{
    background-color: rgb(187, 65, 167);
    border-radius: 10px;
}

.active{
    background-color: var(--lilas);
    border-bottom: 2px solid var(--bege-fundo);
    border-radius: 10px;
}

.active span{
    color: var(--roxo-escuro);
    font-weight: bold;
}

span{
    margin-left: 5px;
}

#inicio img{
    max-width: 80%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.5);
}

.navigation{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation__content ul li div{
    padding: 8px 16px;
}

.navbar-nav{ 
    gap: 2rem;
}

#titulo-inicio{
    align-items: center;
    margin-top: 20%;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--roxo-escuro);
}

.texto{
    margin-right: 1rem;
    font-size: 1.5rem
}

#sobre{
    margin: 60px 0px 0px 30px;
}

/* #titulo-sobre{
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--roxo-escuro);
} */

#perfil{
    max-width: 20rem;
    height: auto;
    border-radius: 50rem;
}

.name, .sub-titulo{
    font-weight: 700;
}

#sobre .name {
    font-size: 25px;
    margin-top: 10px;
}

#sobre .about {
    margin-top: 16px;
    margin-right: 60px;
    text-align: justify;
    font-weight: 500;
}